.container_success {
  background-color: white;
  display: flex;
  font-size: 16px;
  border-radius: 1.8em;
  width: clamp(300px, 90vw, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_success_body{
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em 3em;
}
.icon_place {
  min-width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 1.8em;
}
.icon_place img {
  width: 3.2rem;
}

.container_success_main{
    display: flex;
    flex-direction: column;
    color: #25273f;
}
.container_success_main h1{
    font-size: 2.8rem;
    line-height: 2.8rem;
}

.container_success_main p{
margin: 1.5rem 0 2rem 0;
font-size: 0.8rem;
line-height: 1.2rem;
}
.container_success_main span{
    font-weight: 700;
}

.container_success_main button{
    background-color: #25273f;
    color: white;
    padding: 1.2em;
    width: 100%;
    border-radius: 8px;
    font-size: 0.8rem;
    border:1px #25273f solid;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


@media screen and (max-width: 800px)
{
.container_success{
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: end;
}

.container_success_main button{
   margin-top: 20rem;
}

}

